#nav{
    margin-top:25px;
}

#nav a{
    color: black;
    display:block;
    text-align:center;
    width:100%;
    padding-top:30px;
    padding-bottom:20px;
    background:white;
    border-color:black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    text-decoration: none;
    margin-top:25px;
}

#nav a:hover{
    border-style:dotted;
    text-decoration: none;
}

